.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2rem;
}
.coupons-header {
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--color-border);
    margin-top: 3rem;
}
.coupons-search {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0rem;
}
.coupons-search select{
    padding: 0.85rem;
    border: 2px solid var(--color-border);
    border-radius: 1rem;
    background-color: var(--color-surface);
    margin-left: 0.5rem;
}
select:focus {
  outline: none;
  border: 2px solid #4a90e2; /* optional: nicer focus color */
}
.coupons-search-filter{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.coupons-searchbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 1rem;
    border: 2px solid var(--color-border);
    background-color: var(--color-surface);
}
.search {
    all: unset;
    padding: 0.7rem;
    width: 45rem;
}

.coupons-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    overflow-y: auto;
    height: 70vh;
    scrollbar-width: none;
}

.coupon-not-found{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
}
.coupon-not-found p {
    margin-bottom: 2rem;
}
.coupons-alt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}