.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2rem;
}
.coupons-header {
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
    margin-top: 3rem;
}
.coupons-search {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3rem;
}
.coupons-searchbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 2rem;
    border: 1px solid black;
}
.search {
    all: unset;
    padding: 1rem;
    width: 50rem;
}
.search-button {
    border-top-right-radius: 2rem!important;
    border-bottom-right-radius: 2rem!important;
}
.coupons-list {
    background-color: #fafaec;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}