#auth-main {
    display: flex;
    align-items: center;
    height: 100vh;
}
#auth-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 0rem 3rem;
    box-sizing: border-box;
    background-color: var(--color-surface-dark);
    color: var(--color-surface-dark-text);

}
#auth-left-sections {
    display: flex;
    justify-content: space-between;
}
.auth-left-section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid var(--color-border-dark);
    border-radius: 1rem;
    width: 45%;
    box-sizing: border-box;
}
#auth-left-title {
    margin-bottom: 1rem;
}
#auth-left-subtitle {
    margin-bottom: 3rem;
}

#auth-right {
    border: 2px solid var(--color-border);
    background-color: var(--color-surface);
    border-radius: 1rem;
    padding: 1.5rem;
    width: 35%;
    margin-left: 2.5rem;
}
#auth-right-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:1rem;
}
.input {
    all: unset;
    padding: 0.5rem 1rem;
    border: 2px solid var(--color-border);
    background-color: var(--color-bg);
    border-radius: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
#form-section label {
    display: block;
    color: var(--color-text-primary);
    margin-bottom: 0.5rem;
}

#auth-right-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--color-border);
    padding-top: 0.5rem;
}
.register-choice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0rem;
}
.register-choice input{
    display: none;
}
.register-choice-active {
    background-color: var(--color-primary-light)!important;

}
.radio {
    border: 2px solid var(--color-border);
    padding: 2rem 1rem;
    border-radius: 1rem;
    width: 47%;
    box-sizing: border-box;
    background-color: var(--color-bg);
    text-align: center;
    transition: all 0.3s ease;
}