.payment-container{
    margin: 2rem;
}
.payment-body {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0rem;
}
.payment-details {
    background-color: var(--color-surface);
    border: 2px solid var(--color-border);
    width: 40%;
    padding: 1.5rem;
    border-radius: 1rem;
}
.payment-details label{
    display: block;
    color: var(--color-text-primary);
    margin-bottom: 0.5rem;
}
.payment-details input {
    all: unset;
    background-color: var(--color-bg);
    width: 100%;
    padding: 0.7rem 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    border: 2px solid var(--color-border);
}
.payment-debit-card-meta {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}
.payment-debit-card-meta-item {
    min-width: 45%;
}
.payment-submit {
    width: 100%;
    margin: 1rem 0rem!important;
}
.payment-summary {
    width: 35%;
    background-color: var(--color-surface);
    height: fit-content;
    padding: 1.5rem;
    border-radius: 1rem;
    margin-left: 2rem;
    border: 2px solid var(--color-border);

}
.payment-summary-totals {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.payment-summary-cost {
    display: flex;
    align-items: center;
}

.payment-summary-cart-cards {
    margin: 1rem 0rem 2rem;
    max-height: 30vh;
    overflow-y: auto;
    scrollbar-width: none;
    cursor: ns-resize;
}

.payment-summary-cart-card{
    display: flex;
    align-items: center;
    margin: 0.5rem 0rem;
}

.payment-cart-card-img {
    width: 4rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
}
.payment-cart-card-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.payment-cart-card-details {
    display: flex;
    align-items: flex-end;
    width:100%;
    justify-content: space-between;
    margin-left: 0.5rem;
}