* {
    margin: 0;
    padding: 0;
}


/* Lignt Mode Color Palate*/

:root {
  --color-bg: #F8FAFC;           /* main background */
  --color-surface: #FFFFFF;      /* cards */
  --color-border: #E2E8F0;       /* light borders */

  --color-text-primary: #0F172A; /* headings */
  --color-text-secondary: #475569; /* sub text */
  --color-text-muted: #94A3B8;   /* light text */
  
  --color-primary: #2563EB;
  --color-primary-hover: #1D4ED8;
  --color-primary-light: #DBEAFE;
  --color-success: #22C55E;
  --color-success-bg: #DCFCE7;
  --color-danger: #EF4444;
  --color-accent: #3B82F6; /* blue badge */

  --color-highlight: #FFDE42;        /* main yellow */
  --color-highlight-hover: #FACC15;  /* slightly darker for hover */
  --color-highlight-soft: #FEF9C3;   /* soft background */

  --color-hero-cover: linear-gradient(
    to bottom,
    rgba(255,255,255,0.6),
    rgba(255,255,255,0.9)
  );
}

body {
    background-color: var(--color-bg);

}

/*  Dark Mode Color Palate */

.dark {
  --color-bg: #020617;          /* deep dark */
  --color-surface: #0F172A;     /* cards */
  --color-border: #1E293B;

  --color-text-primary: #F8FAFC;
  --color-text-secondary: #CBD5F5;
  --color-text-muted: #64748B;

  --color-primary: #3B82F6;
  --color-primary-hover: #2563EB;
  --color-primary-light: #1E3A8A;

  --color-success: #22C55E;
  --color-success-bg: #052E16;

  --color-danger: #EF4444;
  --color-accent: #60A5FA;

  --color-highlight: #FFDE42;        /* keep same for consistency */
  --color-highlight-hover: #EAB308;  /* warmer hover */
  --color-highlight-soft: #3F3F00;   /* dark subtle background */

  --color-hero-cover: linear-gradient(
    to bottom,
    rgba(2,6,23,0.6),
    rgba(2,6,23,0.9)
  );
}

/* Typography */

.hero-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 3.5rem; /* ~56px */
    line-height: 1.1;
    letter-spacing: -1px;
    color: var(--color-text-highlight);
}
.section-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2rem; /* ~32px */
    line-height: 1.2;
    color: var(--color-text-primary);
}
.lg-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.5rem; /* ~24px */
    color: var(--color-text-primary);
}
.heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.125rem; /* ~18px */
    color: var(--color-text-primary);
}
.sub-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.95rem;
    color: var(--color-text-secondary);
    line-height: 1.5rem;
}
.text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem; /* 16px */
    line-height: 1.5;
    color: var(--color-text-secondary)
}
.caption {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--color-text-muted);
}

.footer-link {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--color-text-muted);
  text-decoration: none;
  transition: 0.2s;
}

.footer-link:hover {
  color: var(--color-primary);
}
