.coupon-card {
    position: relative;
    min-width:22%;
    border-radius: 1rem;
    background-color: var(--color-surface);
    border: 2px solid var(--color-border);
    transition: transform 0.3s ease;
    overflow: hidden;
    cursor: pointer;

}
.coupon-card:hover {
    transform: translateY(-10px);
    box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.1);
}

.coupon-card-image {
    position: relative;
    
}
.coupon-card img {
    width: 100%;
    height: 16rem;
    object-fit: contain;
    transition: transform 0.3s ease;
}
.coupon-card img:hover{
    transform: scale(1.1);
}

.coupon-card-info {
    padding: 1rem;
}

.coupon-card-provider {
    display: flex;
    align-items: center;
}
.coupon-card-provider-rating {
    display: flex;
    margin-left: 0.5rem;
}
.coupon-card-expiry{
    display: flex;
    align-items: center;
    line-height: 1.5rem;
}

.coupon-card-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.coupon-card-price{
    display: flex;
    align-items: center;
}
.coupon-card-like {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 10px;
    padding: 0.3rem;
    background-color: var(--color-bg);
    border-radius: 50%;
    cursor: pointer;
}
.coupon-card-discount {
    position: absolute;
    top: 15px;
    left: 10px;
    border-radius: 2rem;
    padding: 0.1rem 1rem;
    background-color: var(--color-primary);
    color: white;
}

.coupon-card-isverified{
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2rem;
    padding: 0.1rem 1rem;
    background-color: var(--color-success);
    color: white;
}
