#publish-main {
    display: flex;
    justify-content: center;
    margin: 2rem 1rem;
}

#container {
    width: 420px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);

}

#form {
    display: flex;
    flex-direction: column;
}
.form-input {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    margin-bottom: 1rem;
    margin-top: 0.2rem;
}