.publish-main{
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
}
.publish-container {
    background-color: var(--color-surface);
    padding: 1rem;
    width: 70%;
    border-radius: 1rem;
}
.publish-coupon-details {
    margin: 1rem 0rem;
}
.publish-coupon-details label{
    display: block;
    color: var(--color-text-primary);
    margin-bottom: 0.5rem;
}
.publish-coupon-details input{
    all: unset;
    border: 2px solid var(--color-border);
    background-color: var(--color-bg);
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 1rem;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
}
.publish-coupon-details select{
    all: unset;
    border: 2px solid var(--color-border);
    background-color: var(--color-bg);
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 1rem;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
}
.publish-coupon-details textarea{
    border: 2px solid var(--color-border);
    background-color: var(--color-bg);
    padding: 0.5rem 1rem;
    width: 100%;
    min-height: 3rem;
    height: 6rem;
    border-radius: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    overflow-y: auto;
    resize: vertical;
    outline: none;
}
.publish-coupon-two-column {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.publish-coupon-two-column-item {
    min-width: 45%;
}