.conclusion-section {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height:60vh;
    margin-top: 4rem;
}

.conclusion-title {
    margin-top: 6rem;
    padding: 1rem 1rem 0.5rem 1rem;
}
.conclusion-subtitle {
    padding: 0.5rem 1rem 1rem 1rem;
}
.conclusion-create {
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
}