.coupon-section {
    display: flex;
    flex-direction: column;
}

.coupon-header-section {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin:2rem;
}
.coupon-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.view-all {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    cursor: pointer;
    padding: 0.5rem;

}
.view-all:hover {
    border: 2px solid var(--color-border);
    border-radius: 2rem;
}
.coupon-list {
    margin: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}