.details {
    margin: 2rem 4rem 0rem 3rem;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    margin-bottom: 4rem;
}

.navigate-back {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.coupon-details {
    display: flex;
    align-items:flex-start;
    margin-top: 2rem;
}
.left-column {
    position: relative;
    width: 55%;
    border: 1px solid var(--color-border);
    border-radius: 2rem;
    height: 82vh;
    background-image: url('../../assets/images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.right-column {
    width: 45%;
    padding-left: 2rem;
}

.coupon-details-days-left {
    display: inline-flex;
    align-items: center;
    background-color: var(--color-primary-light);
    border-radius: 1rem;
    padding: 0rem 0.4rem;
    margin: 0.5rem 0rem;
}
.coupon-details-cost{
    display: flex;
    align-items: flex-end;
    margin: 1rem 0rem;
}
.coupon-details-reduced-cost{
    display: flex;
    align-items: center;
}
.coupon-details-real-cost{
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    text-decoration: line-through;
}
.coupon-details-provider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--color-border);
    border-radius: 1rem;
    padding: 2rem 1rem;
    background-color: var(--color-surface);
    margin: 1.5rem 0rem;
}
.coupon-details-provider-info {
    display: flex;
    align-items: center;
}
.coupon-details-provider-rating {
    display: flex;
    align-items: center;
}
.coupon-details-navigate{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0rem;
}

.coupon-details-quick-items{
    display: flex;
    align-items: center;
}
.coupon-details-quick-item{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 2rem;
}
.coupon-details-meta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0rem 0.5rem;
}
.coupon-details-meta-item{
    padding: 0.5rem 1rem;
    background-color: var(--color-primary-light);
    border-radius: 1rem;
    width: 43%;
}
.coupon-details-meta-title{
    display: flex;
    align-items: center;
    line-height: 2rem;
}