.details {
    margin: 2rem;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
}

.navigate-back {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.coupon-details {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding: 2rem;
    margin-top: 2rem;
}
.left-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
}
.right-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 35%;
}
.card-details {
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    padding: 2rem 1rem;
    border: 1px solid black;
    border-radius: 1rem;
}

.coupon-logo {

    border: 1px solid black;
    border-radius:1rem;
    padding: 1.5rem;

}

.coupon-info {
    margin-left: 1.5rem;
}

.coupon-title {
    margin-bottom: 3rem;
}

.coupon-desc {
    margin-bottom: 2rem;
}

.navigate-options {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    border: 1px solid black;
    border-radius: 1rem;
}
.coupon-expiry {
    display: flex;
    align-items: center;
}
.coupon-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
}

.coupon-daysleft {
    display: flex;
    align-items: center;
}

.coupon-handle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}
.seller-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin-top: 3rem;
}
.seller-detail-title {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
}
.seller-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 0.5rem;
}
.seller-detail-id {
    display: flex;
    align-items: center;
}
.seller-id-logo {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
}
.seller-id-data {
    margin-left: 1rem;
}
.seller-id-rating {
    display: flex;
    align-items: center;

}